# Python
__pycache__/
*.pyc

# Electron
electron/node_modules/
electron/dist/
electron/package-lock.json
electron/renderer-dist
.keep

# Virtual env
.venv/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Build outputs
output/
2025H1_技術中心/
2025H1_技術中心_2/
electron/dist/
node_modules/

# Excel
*.xlsx
*.log



config.json
package-lock.json
2025.H1_*/
*.zip